{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-edit-office-member")) %}

<h1>{{ translate("txt-edit-office-member") }}</h1>

{% include 'contact/partial/form/office/contact' %}