{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-edit-leave")) %}

<h1>{{ translate("txt-edit-leave-for-%s")|format(officeContact.contact.parseFullName()) }}</h1>

{% include 'contact/partial/form/office/leave' with {'showButtons': true} %}