{% do headTitle().append(translate('txt-admin')) %}
{% do headTitle().append(translate('txt-new-office-member')) %}

<h1>{{ translate('txt-new-office-member') }}</h1>

{% include 'contact/partial/form/office/contact' %}