{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-new-address")) %}

<h1>{{ translate("txt-new-address") }}</h1>

{% include 'contact/partial/form/address' with [{'form': form}] %}
