{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-new-note")) %}

<h1>{{ translate("txt-new-note") }}</h1>

{% include 'contact/partial/form/note' with [{'form': form}] %}
