{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-edit-contact-%s")|format(contactService.contact.displayName)) %}

<h1>{{ translate("txt-edit-contact-%s")|format(contactService.contact.displayName) }} </h1>

{% include 'contact/partial/form/contact' %}

{{ contactLink( null ,'list','button') }}