<h1 class="display-4">{{ translate('txt-overview-permissions-of-%s')|format(contact.parseFullname()) }}</h1>


{#{% for permit in contact.permitContact %}#}

    {#{{ permit.keyId }}#}

{#{% endfor %}#}
