{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-edit-opt-in")) %}

<h1 class="display-4">{{ translate("txt-edit-opt-in") }}</h1>

{% include 'contact/partial/form/opt-in' %}
