<h1>{{ translate('txt-overview-permissions-of-%s')|format(contactService.parseFullname()) }}</h1>


{#{% for permit in contactService.contact.permitContact %}#}

    {#{{ permit.keyId }}#}

{#{% endfor %}#}