{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-copy-selection")) %}

<h1>{{ translate("txt-copy-selection") }} </h1>

{% include 'contact/partial/form/selection' %}
