{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-new-selection")) %}

<h1 class="display-4">{{ translate("txt-new-selection") }} </h1>

{% include 'contact/partial/form/selection' %}
